h1 {
  font-size: 24px;
  color: #007a53;
}

h2 {
  font-size: 20px;
  color: #007a53;
}

h3 {
  font-size: 18px;
  color: #007a53;
}

h4 {
  font-size: 16px;
  color: #007a53;
}

body {
  font-family: Arial, sans-serif; /* Per assicurare Arial come font principale */
}

h1, h2, h3, h4 {
  margin-bottom: 16px;
  margin-top: 24px;
  line-height: 1.5;
}

.callout-warning {
  border-left: 5px solid #ff0000;
}
