body {
  font-family: Arial, sans-serif;
  font-size: 10pt; /* Dimensione del font per il corpo */
  color: #000000; /* Colore del testo del corpo: nero */
}

h1, h2, h3, h4, h5, h6 {
  font-family: Arial, sans-serif; /* Font Arial per tutte le intestazioni */
  color: #007a53; /* Colore verde */
}

/* Dimensioni relative per le intestazioni */
h1 {  font-size: 20pt; /* Dimensione per H1 */}
h2 {  font-size: 18pt; /* Dimensione per H2 */}
h3 {  font-size: 16pt; /* Dimensione per H3 */}
h4 {  font-size: 14pt; /* Dimensione per H4 */}
h5 {  font-size: 12pt; /* Dimensione per H5 */}
h6 {  font-size: 11pt; /* Dimensione per H6 */}

.callout-warning {
  border-left: 5px solid #ff0000;
}


table {
  font-family: Arial, sans-serif;
  font-size: 9pt;
}